// @font-face {
//   font-family: 'TTFirsNeue';
//   font-weight: 500;
//   font-style: normal;
//   src: url('/fonts/TTFirsNeue/TTFirsNeue-Medium.ttf') format('truetype');
// }
// @font-face {
//   font-family: 'TTFirsNeue';
//   font-weight: 300;
//   font-style: normal;
//   src: url('/fonts/TTFirsNeue/TTFirsNeue-Regular.ttf') format('truetype');
// }
// @font-face {
//   font-family: 'TTFirsNeue';
//   font-weight: 300;
//   font-style: normal;
//   src: url('/fonts/TTFirsNeue/TTFirsNeue-Light.ttf') format('truetype');
// }
//
